/* Projects Section */
body{
  
  background-color: rebeccapurple;
}


.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
   
}
.project{
  transition: background 0.3s ease, color 0.3s ease;
  box-shadow: 1px 1px 60px  black;
  height: 95%;
  border-radius: 5px;
  background-color: aliceblue;
}
.project img {
    width: 100%;
    height: 200px; /* Tentukan tinggi agar semua gambar seimbang */
    object-fit: cover; /* Gambar akan terpotong jika perlu untuk menjaga aspek rasio */
    border-radius: 5px;
}

.project h3 {
  color: white;
    text-align: center;
    font-size: 20px;
   background-color: black;
}

.project :hover{
  background-color:rebeccapurple;

}


.view{
  box-shadow: 1px 1px 10px black;
  text-align: center;
  color: white;
  text-decoration: none;
  background-color:rebeccapurple ;
  border-radius: 5px;
  transition: background 0.3s ease, color 0.3s ease;
}


.view:hover{
  box-shadow: 1px 1px 12px rebeccapurple;
  background-color: #0047ab;
  color: white;
}
.her{
  color: whitesmoke;
box-shadow: 1px 1px 30px black;
  text-align: center;
  background-color: transparent;
}