/* Projects Section */
.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
}

.project img {
    width: 100%;
    height: 200px; /* Tentukan tinggi agar semua gambar seimbang */
    object-fit: cover; /* Gambar akan terpotong jika perlu untuk menjaga aspek rasio */
    border-radius: 5px;
}

.project h3 {
    margin: 10px 0;
    font-size: 20px;
    color: #333;
}

.project p {
    color: #555;
}

.view{
  color: white;
  text-decoration: none;
  background-color:rgba(7,56,238,0.828);
  border-radius: 5px;
}
.her{
  text-align: center;
}